*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  height: 100vh;
  margin: 0 auto;
  width: min-content;
  font-family: "Inter";
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: max(8vmin, 64px);
  color: #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
 

  & > .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;

    & > .icon {
      width: max(3vmin, 24px);
      height: max(3vmin, 24px);
      cursor: pointer;
      filter: invert(84%) sepia(8%) saturate(0%) hue-rotate(237deg) brightness(99%) contrast(93%);
    }
  }

  & > .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: max(4vmin, 18px);
    margin: 0 auto;
  }

  & > .score-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    min-width: max(10vmin, 50px);

    & > .score-label {
 
      font-size: max(1.4vmin, 10px);
    }

    & > .score {
      position: relative;
      font-weight: 600;
      font-size: max(3vmin, 15px);
      height: max(3vmin, 15px);

      &.pop {
        --pop-scale: 1.5;
        animation: pop 100ms ease-in-out alternate;
      }

      & > .added-score {
        position: absolute;
        bottom: var(--start-y);
        left: var(--start-x);
        transition: 0.3s;
        animation: addedAnimation 500ms ease-in-out;
        font-size: max(2vmin, 14px);
        opacity: 0;
      }
    }


  }
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ccc;
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  border-radius: var(--cell-gap);
  font-size: 7.5vmin;
  margin-top: 2vmin;

  & > .cell {
    background-color: #aaa;
    border-radius: 2vmin;
  }

  & > .tile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    font-weight: 600;

    border-radius: var(--cell-gap);
    top: calc((var(--y) * var(--cell-size)) + calc(calc(var(--y) + 1) * var(--cell-gap)));
    left: calc((var(--x) * var(--cell-size)) + calc(calc(var(--x) + 1) * var(--cell-gap)));
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out forwards;
    transition: 100ms ease-in-out;
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(var(--pop-scale));
  }
}

@keyframes addedAnimation {
  0% {
    opacity: 0;
  }

  100% {
    left: var(--end-x);
    bottom: var(--end-y);
    opacity: 1;
  }
}
